<div class="flex">
  <div class="right_container w-[75%]">
    <div class="flex justify-center py-2">
      <div class="">
        <div class="flex mb-2">
          <p class="me-6">code 1</p>
          <input type="text" #input1 (click)="showZoomEffect(input1)" maxlength="6" pattern="[A-Za-z]+" class="border-green-500 focus:border-black border-2"> 
        </div>
        <div class="flex mb-2">
          <p class="me-6">code 2</p>
          <input type="text" #input2 (click)="showZoomEffect(input2)" maxlength="6" pattern="[A-Za-z]+" class="border-green-500 focus:border-black border-2"> 
        </div> 
      </div>
    </div>
    <div class="ps-6">
      <div class="max-w-min">
        <form #form="ngForm">
          <div class="mt-3 inline">
            <div class="mb-2">
              <button type="button" class="whitespace-nowrap rounded-md  bg-gray-100 border border-gray-300 flex justify-center items-center p-2 hover:bg-gray-200 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 transition-all duration-300" (click)="send(form)">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                I am not a robot
              </button>
            </div>
          </div>
        </form>
        <div class="  flex justify-center items-center  ">
          <button class=" rounded-md bg-lime-500  max-w-min p-2" (click)="showPopup(input1.value, input2.value)"> valider </button>
        </div>
      </div>
    </div>
  </div>
  <div class="left_container border border-solid border-black flex-1  ">
    <div #imageElement class="w-64 h-48 bg-cover" style="background-image: url('../assets/image_test.png'); background-position: top left; background-size: 100%;"></div>
  </div>
</div>
<!-- 6LfUes0pAAAAABnxgZSEu6tBmnczl-nVpsL9HCgY -->
<!-- 6LfUes0pAAAAALXX1ild1gnvyAHl8SQRz1cJS-KV -->